RandomCanucks_Operator_Helper/*.exe filter=lfs diff=lfs merge=lfs -text
RandomCanucks_Operator_Helper/win-unpacked/*.exe filter=lfs diff=lfs merge=lfs -text
RandomCanucks_Operator_Helper/win-unpacked/resources/*.asar filter=lfs diff=lfs merge=lfs -text
