/********************************************************************************************************************************/
/*  GLOBAL  */
/********************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background: none no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100%;
    background-color: #222222;
}
/********************************************************************************************************************************/
/*  HEADER HOME  */
/********************************************************************************************************************************/
/* Parent Container of header, sets margins between Body and Header */
.headerContentContainer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;

    /*  text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem; */
}

/* Parent Container of Attacker/Defender toggle switch */
.attackDefendSwitchContainer {
    /* display: inline-block; */
    align-content: center;
    grid-column: 5 / 6;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 340px;
    height: 100px;
  }
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;    
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 91px;
    width: 91px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(241px);
    -ms-transform: translateX(241px);
    transform: translateX(241px);
}
.slider:after
{
    content:'Defender';
    color: #222222;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-family: Verdana, sans-serif;
}
input:checked + .slider:after
{  
    content:'Attacker';
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/*********** Header Alerts***********/
.alert-success{
    text-align: center;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

.alert-danger{
    text-align: center;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

/********************************************************************************************************************************/
/*  BODY HOME */
/********************************************************************************************************************************/
/* Parent Container holding map buttons. This block determines its layout using grid display type */
.mapSelectorContainer{
    padding-right: 13rem;
    padding-left: 13rem;
}
.mapSelector {
    display: grid;
    margin-top: 2.5rem;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 355px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    align-content: space-around;
}
/*********** Hovering and animation effects on mapSelect_Button's ***********/
/* default state of the map select buttons */
.mapSelector .mapSelectorButton {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
}
/* control opacity of all non-hovered map buttons  */
.mapSelector:hover .mapSelectorButton {
    opacity: 0.2;
    -webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
}
/* control opacity of hovered map buttons  */
.mapSelector:hover .mapSelectorButton:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 15px whitesmoke;
    -webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    
}
/*********** create the map select buttons ***********/
.mapSelectorButton {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300 bold;
    font-size: 50px;
    color: white;
}
#mapSelect_BankButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-bank_480X270.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_BorderButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-border_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_ChaletButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-chalet_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_ClubhouseButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-clubhouse_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_CoastlineButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-coastline_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_ConsulateButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-consulate_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_Kafe_DostoyevskyButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-kafe_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_KanalButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-kanal_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_OregonButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-oregon_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_OutbackButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-outback_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_Theme_ParkButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-themepark_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
#mapSelect_VillaButton {
    width: 355px;
    height: 200px;
    background-image: url(../vendors/img/button_img/r6-maps-villa_480x270.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

/********************************************************************************************************************************/
/*  BODY SITE SELECT */
/********************************************************************************************************************************/
#dynamicNavButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#homeButton {
    height: 5rem;
    width: 8rem;
    margin: 2rem;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

#homeButton:hover {
    background-color: rgb(15, 15, 15, 0.35);
    border: 1px solid rgba(240, 240, 240, 0.5);
    /* border: 1px solid rgba(54, 169, 224); */
    color: whitesmoke;
}

.backToSiteSelection {
    height: 5rem;
    width: 8rem;
    margin: 2rem;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

.backToSiteSelection:hover {
    background-color: rgb(15, 15, 15, 0.35);
    border: 1px solid rgba(240, 240, 240, 0.5);
    color: whitesmoke;
}

#opSelectButton_Open{
    height: 5rem;
    width: 8rem;
    margin: 2rem;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    background-color: #36A9E0;
    border: 1px solid #36A9E0;
    color: rgb(0, 0, 0, 0.8);;
}

#opSelectButton_Open:hover{
    background-color: rgb(15, 15, 15, 0.35);
    border: 1px solid rgba(240, 240, 240, 0.5);
    color: whitesmoke;
}


.siteSelectButton {
    grid-column: 1 / 5;
    text-align: center;
    background-color: rgb(15, 15, 15, 0.35);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 25px;
    font-weight: 100;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}

.siteSelectButton:hover {
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

.siteSelectButtonViability1{
    grid-column: 1 / 5;
    text-align: center;
    background-color: rgba(0, 255, 13, 0.35);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 25px;
    font-weight: 100;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}

.siteSelectButtonViability1:hover {
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

.siteSelectButtonViability2{
    grid-column: 1 / 5;
    text-align: center;
    background-color: rgba(255, 238, 0, 0.356);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 25px;
    font-weight: 100;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}

.siteSelectButtonViability2:hover {
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

.siteSelectButtonViability3{
    grid-column: 1 / 5;
    text-align: center;
    background-color: rgba(255, 38, 0, 0.356);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 25px;
    font-weight: 100;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}

.siteSelectButtonViability3:hover {
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(255, 247, 247, 0.774);
    color: rgb(0, 0, 0, 0.8);
}

/********************************************************************************************************************************/
/*  Gallery */
/********************************************************************************************************************************/

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 50px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-content: space-around;
}

.valkyrieCameraSpotImg {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    transition: 1s;
}

.imageListItem{
    list-style-type: none; 
}

#gallery .valkyrieCameraSpotImg {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
}

#gallery:hover .valkyrieCameraSpotImg {
    opacity: 0.5;
    -webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
}

#gallery:hover .valkyrieCameraSpotImg:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 15px whitesmoke;
    -webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}


/********************************************************************************************************************************/
/*  Operator Select Nav Bar */
/********************************************************************************************************************************/

#opSelectNavTitle{
    color: #36A9E0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    line-height: 96px; 
    margin-top: 20px;
    margin-bottom: 30px;
}
.opSelectButton{
    overflow: hidden;
    display: grid;
    grid-template-columns: 96px 120px;
    height: 96px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #36A9E0;
    border-radius: 4px;
}

.opSelectButton:hover{
    background-color: rgba(210, 208, 217, 0.774)       !important;
    border: 1px solid rgba(240, 240, 240, 0.5)         !important;
    color: whitesmoke                                  !important;
}

#opSelect_ValkyrieButton{
    background-color: rgba(210, 208, 217, 0.774);
    border: 1px solid rgba(240, 240, 240, 0.5);
    color: whitesmoke;
}

.opSelectName{
    height: 96px; 
    width: 120px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 96px;
    margin-left: 15px; 
}

#opSelect_ValkyrieButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-valkyrie.png);
}

#opSelect_JagerButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-jager.png);
}

#opSelect_MuteButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-mute.png);
}

#opSelect_MiraButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-mira.png);
}

#opSelect_MaestroButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-maestro.png);
}

#opSelect_MelusiButton_img{
    height: 96px;
    width: 96px;
    background-image: url(../vendors/img/button_img/R6-operators-badge-melusi.png);
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgba(210, 208, 217, 0.774);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}